<div class="row">
  <div class="col-lg-12" >
    <h3>Customer List</h3>
    <p>
      <a class="btn btn-success mb-2" href="/customer/create" role="button">Create</a>
    </p>
    <p style="color: green" ></p>
    <table class="table table-warning table-striped" border="1">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>ID Card</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Customer Code</th>
        <th>Customer Type</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
