<app-navbar></app-navbar>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <h1 style="text-align: center">Employee Create</h1>
    <form [formGroup]="employeeForm" (ngSubmit)="createEmployee()">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input class="form-control" type="text" id="name" formControlName="name">
        <mat-error *ngFor="let validation of validationMsg.name">
          <mat-error
            *ngIf="employeeForm.get('name').hasError(validation.type) && (employeeForm.get('name').dirty || employeeForm.get('name').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="codeEmployee" class="form-label">Code Employee</label>
        <input class="form-control" type="text"  id="codeEmployee" formControlName="codeEmployee">
        <mat-error *ngFor="let validation of validationMsg.codeEmployee">
          <mat-error
            *ngIf="employeeForm.get('codeEmployee').hasError(validation.type) && (employeeForm.get('codeEmployee').dirty || employeeForm.get('codeEmployee').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Date of birth:</label>
        <input class="form-control" type="date"  id="dateOfBirth" formControlName="dateOfBirth">
        <mat-error *ngFor="let validation of validationMsg.dateOfBirth">
          <mat-error
            *ngIf="employeeForm.get('dateOfBirth').hasError(validation.type) && (employeeForm.get('dateOfBirth').dirty || employeeForm.get('dateOfBirth').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="idCard" class="form-label">ID Card:</label>
        <input class="form-control" type="text"  id="idCard" formControlName="idCard">
        <mat-error *ngFor="let validation of validationMsg.idCard">
          <mat-error
            *ngIf="employeeForm.get('idCard').hasError(validation.type) && (employeeForm.get('idCard').dirty || employeeForm.get('idCard').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="salary" class="form-label">Salary:</label>
        <input class="form-control" type="number"  id="salary" formControlName="salary">
        <mat-error *ngFor="let validation of validationMsg.salary">
          <mat-error
            *ngIf="employeeForm.get('salary').hasError(validation.type) && (employeeForm.get('salary').dirty || employeeForm.get('salary').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input class="form-control" type="text" id="phone" formControlName="phone">
        <mat-error *ngFor="let validation of validationMsg.phone">
          <mat-error
            *ngIf="employeeForm.get('phone').hasError(validation.type) && (employeeForm.get('phone').dirty || employeeForm.get('phone').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="email" id="email" formControlName="email">
        <mat-error *ngFor="let validation of validationMsg.email">
          <mat-error
            *ngIf="employeeForm.get('email').hasError(validation.type) && (employeeForm.get('email').dirty || employeeForm.get('email').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input class="form-control" type="text" id="address" formControlName="address">
        <mat-error *ngFor="let validation of validationMsg.address">
          <mat-error
            *ngIf="employeeForm.get('address').hasError(validation.type) && (employeeForm.get('address').dirty || employeeForm.get('address').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Position</label>
        <select class="form-select" id="position" formControlName="position">
          <option *ngFor="let item of positionList" [ngValue]="item">{{item.name}}</option>
        </select>
        <mat-error *ngFor="let validation of validationMsg.position">
          <mat-error
            *ngIf="employeeForm.get('position').hasError(validation.type) && (employeeForm.get('position').dirty || employeeForm.get('position').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="educationDegree" class="form-label">Education Degree</label>
        <select class="form-select" id="educationDegree"  formControlName="educationDegree">
          <option *ngFor="let item of educationDegreeList" [ngValue]="item">{{item.name}}</option>
        </select>
        <mat-error *ngFor="let validation of validationMsg.educationDegree">
          <mat-error
            *ngIf="employeeForm.get('educationDegree').hasError(validation.type) && (employeeForm.get('educationDegree').dirty || employeeForm.get('educationDegree').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="division" class="form-label">Division</label>
        <select class="form-select" id="division" formControlName="division">
          <option *ngFor="let item of divisionList" [ngValue]="item">{{item.name}}</option>
        </select>
        <mat-error *ngFor="let validation of validationMsg.division">
          <mat-error
            *ngIf="employeeForm.get('division').hasError(validation.type) && (employeeForm.get('division').dirty || employeeForm.get('division').touched)">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!employeeForm.valid">
      </div>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div>
<app-footer></app-footer>
