<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <h1>Customer edit</h1>
    <form [formGroup]="editForm" (ngSubmit)="updateCustomer(id)">
      <div class="mb-3">
        <label class="form-label">Name:</label>
        <input class="form-control" type="text" formControlName="name">
<!--        <div class="alert-danger" *ngFor="let va of validationMessage.name" [hidden]="va.valid">-->
<!--          <div-->
<!--            *ngIf="editForm.get('name')?.hasError(va.type) && (editForm.get('name').dirty || editForm.get('name').touched)">{{va.message}}</div>-->
<!--        </div>-->
      </div>
      <div class="mb-3">
        <label class="form-label">Code Customer</label>
        <input class="form-control" type="text" formControlName="code">
        <div class="alert-danger" *ngFor="let va of validationMessage.code">
          <div
            *ngIf="editForm.get('code').hasError(va.type) && (editForm.get('code').dirty || editForm.get('code').touched)">{{va.message}}</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Date of birth:</label>
        <input class="form-control" type="date" formControlName="dateOfBirth">
        <div class="alert-danger" *ngFor="let va of validationMessage.name">
          <div
            *ngIf="editForm.get('name').hasError(va.type) && (editForm.get('name').dirty || editForm.get('name').touched)">{{va.message}}</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">ID Card:</label>
        <input class="form-control" type="text" formControlName="idCard">
        <div class="alert-danger" *ngFor="let va of validationMessage.idCard">
          <div
            *ngIf="editForm.get('idCard').hasError(va.type) && (editForm.get('idCard').dirty || editForm.get('idCard').touched)">{{va.message}}</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Gender:</label>
        <input  type="radio"  value="Male" formControlName="gender">Male
        <input  type="radio"  value="Female" formControlName="gender">Female
        <input  type="radio"  value="LGBT" formControlName="gender">LGBT
        <div class="alert-danger" *ngFor="let va of validationMessage.gender">
          <div
            *ngIf="editForm.get('gender').hasError(va.type) && (editForm.get('gender').dirty || editForm.get('gender').touched)">{{va.message}}</div>
        </div>
      </div>
      <div class="mb-3">
        <label  class="form-label">Phone</label>
        <input class="form-control" type="text" formControlName="phone">
        <div class="alert-danger" *ngFor="let va of validationMessage.phone">
          <div
            *ngIf="editForm.get('phone').hasError(va.type) && (editForm.get('phone').dirty || editForm.get('phone').touched)">{{va.message}}</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="email">
        <div class="alert-danger" *ngFor="let va of validationMessage.email">
          <div
            *ngIf="editForm.get('email').hasError(va.type) && (editForm.get('email').dirty || editForm.get('email').touched)">{{va.message}}</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Address</label>
        <input class="form-control" type="text" formControlName="address">
      </div>
      <div class="alert-danger" *ngFor="let va of validationMessage.address">
        <div
          *ngIf="editForm.get('address').hasError(va.type) && (editForm.get('address').dirty || editForm.get('address').touched)">{{va.message}}</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Customer Type</label>
        <select  formControlName="customerType">
          <option *ngFor="let item of cusType" [ngValue]="item"
          [selected]="item.id == editForm.controls.customerType.value.id"> {{item.name}}</option>
        </select>
        <div class="alert-danger" *ngFor="let va of validationMessage.customerType">
          <div
            *ngIf="editForm.get('customerType').hasError(va.type) && (editForm.get('customerType').dirty || editForm.get('customerType').touched)">{{va.message}}</div>
        </div>
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div>

