<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <h1>Employee Edit</h1>
    <form [formGroup]="editForm" (ngSubmit)="updateEmployee(id)">
      <input type="hidden" formControlName="id">
      <div class="mb-3">
        <label for="nameEmployee" class="form-label">Name:</label>
        <input class="form-control" type="text" formControlName="name" id="nameEmployee">
        <mat-error *ngFor="let validation of validationMsg.name">
          <mat-error
            *ngIf="editForm.get('name').hasError(validation.type) && editForm.get('name').dirty">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="codeEmployee" class="form-label">Code Employee:</label>
        <input class="form-control" type="text" formControlName="codeEmployee" id="codeEmployee">
        <mat-error *ngFor="let validation of validationMsg.codeEmployee">
          <mat-error
            *ngIf="editForm.get('codeEmployee').hasError(validation.type) && editForm.get('codeEmployee').dirty">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Date of birth:</label>
        <input class="form-control" type="date" formControlName="dateOfBirth" id="dateOfBirth">
        <mat-error *ngFor="let validation of validationMsg.dateOfBirth">
          <mat-error
            *ngIf="editForm.get('dateOfBirth').hasError(validation.type) && editForm.get('dateOfBirth').dirty">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="idCard" class="form-label">ID Card:</label>
        <input class="form-control" type="text" formControlName="idCard" id="idCard">
        <mat-error *ngFor="let validation of validationMsg.idCard">
          <mat-error
            *ngIf="editForm.get('idCard').hasError(validation.type) && editForm.get('idCard').dirty">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="salary" class="form-label">Salary:</label>
        <input class="form-control" type="number" formControlName="salary" id="salary">
        <mat-error *ngFor="let validation of validationMsg.salary">
          <mat-error
            *ngIf="editForm.get('salary').hasError(validation.type) && editForm.get('salary').dirty">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <input class="form-control" type="text" formControlName="phone" id="phone">
        <mat-error *ngFor="let validation of validationMsg.phone">
          <mat-error
            *ngIf="editForm.get('phone').hasError(validation.type) && editForm.get('phone').dirty">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input class="form-control" type="email" formControlName="name" id="email">
        <mat-error *ngFor="let validation of validationMsg.email">
          <mat-error
            *ngIf="editForm.get('email').hasError(validation.type) && editForm.get('email').dirty">{{validation.message}}</mat-error>
        </mat-error>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input class="form-control" type="text" formControlName="address" id="address">
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Position</label>
        <select class="form-select" formControlName="position" id="position">
          <option *ngFor="let item of positions" [ngValue]="item"
                  [selected]="item.name === editForm.controls.positions.value.name">
            {{item.name}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="educationDegree" class="form-label">Education Degree</label>
        <select class="form-select" id="educationDegree" formControlName="educationDegree">
          <option *ngFor="let item of educationDegrees" [ngValue]="item"
                  [selected]="item.name === editForm.controls.educationDegrees.value.name">
            {{item.name}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="division" class="form-label">Division</label>
        <select class="form-select" formControlName="division" id="division">
          <option *ngFor="let item of divisions" [ngValue]="item"
                  [selected]="item.name === editForm.controls.divisions.value.name">
            {{item.name}}
          </option>
        </select>
      </div>
      <div>
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div>
